/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image:url('https://media-exp1.licdn.com/dms/image/C4D1BAQEUflV0cHmQuw/company-background_10000/0/1627463534989?e=2147483647&v=beta&t=kJx5oNaZ8-Ys_BZwLzITglgCnTC07BFHqgSlOvFq724');
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
